
.nombre_champ{
	display: block;
}

.linea_blanca{
	height: 40px;
	background-color: white;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.formulario{
	background-color: white;
	border: 1px solid #ddd;
	padding:40px;
}

.titulo_trivia{
	text-align: center;
}

.summoner{
	color:white; 
	float: left; 
	margin-top: 15px;
}

#indexbox{
	background-color:rgba(255, 255, 255, 0.5); 
	border-radius: 30px;
	text-align: center;
}


#box{
	background-color: white;
	border: 1px solid #ddd;
	padding:40px;
	border-radius: 20px;
}

#img-redondita{
	border-radius: 20px;
}

/*************STYLES FROM style.css****************/



#carousel-example-generic {
  display: inline-block;
}
/*****************************/

/* Plugin styles */
ul.thumbnails-carousel {
	padding: 5px 0 0 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}
ul.thumbnails-carousel .center {
	display: inline-block;
}
ul.thumbnails-carousel li {
	margin-right: 5px;
	float: left;
	cursor: pointer;
}
.controls-background-reset {
	background: none !important;
}
.active-thumbnail {
	opacity: 0.4;
}
.indicators-fix {
	bottom: 70px;
}